kedro==0.18.13

black
flake8
isort

pytest
pytest-cov

ipykernel

unidecode
numpy
pandas
imblearn

scikit-learn
xgboost

uvicorn

# Update the requirements.txt file by running:
# pip-compile -U src\requirements.in