kedro==0.18.12

sphinx

black
flake8
isort

pytest
pytest-cov

ipykernel

unidecode
numpy
pandas
imblearn

scikit-learn
xgboost

fastapi
pydantic
uvicorn

# Update the requirements.txt file by running:
# pip-compile -U src\requirements.in